/* NotFound.module.css */

.notFoundContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  .title {
    font-size: 64px;
    font-weight: bold;
    color: var(--text-color);
  }
  
  .subtitle {
    font-size: 28px;
    color: var(--text-color);
  }
  
  .description {
    font-size: 18px;
    color: var(--text-color);
    margin-bottom: 20px;
  }
  
  .homeButton {
    font-size: 16px;
    padding: 10px 20px;
    background-color: var(--accent-green);
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .homeButton:hover {
    background-color: var(--sec-accent-green);
  }
  